<form class="form" #f="ngForm" (ngSubmit)="SaveForm()" *ngIf="setupApp">
    <div class="form-group">
        <label class="col-md-2">Package</label>
        <div  class="col-md-10"><input type="text" name="name" [(ngModel)]="setupApp.Package" /></div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Imei</label>
        <div  class="col-md-10"><input type="text" name="imei" [(ngModel)]="setupApp.Imei" /></div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Msisdn</label>
        <div class="col-md-10"><input type="text" name="msisdn" [(ngModel)]="setupApp.Msisdn" /></div>
    </div>
    <div class="form-group">
        <button type="submit">Save</button>
        <button type="button" (click)="GotoSetupApps()">Cancel</button>
    </div>
</form>